{% extends 'base.html.twig' %}

    {% block body %}
        <body class="red">
              {% block nav %}
                  {# grace a parent() on met le contenu du bloc nav qui
                  est dans la base.html.twig #}
                 
                {{ parent()}}
            {% endblock %}
        </body>
    {% endblock %}
